div {
    border: 1px solid black;
    border-radius: 10px;
    background-color: greenyellow;
    
    h1 {
        margin-left: 25px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin-left: 25px;
        font-size: 25px;
        font-weight: 500;
    }

    p {
        margin-left: 25px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin-left: 25px;
    }

}