<div class="box has-background-success">
    <h1 class="is-size-3">Parent Component</h1>

    <p class="is-size-6 subtitle">{{ message }}</p>

    <div *ngIf="evtMessage">
        <p class="is-size-6 subtitle">{{ evtMessage }}</p>
    </div>

    <app-child [sentence]="sentence" (messageEvent)="receiveMessage($event)"></app-child>

    <div *ngIf="sharedMessage">
        <p class="is-size-4 subtitle" style="margin-top: 25px;">Data From Shared Service: </p>
        <p class="is-size-5">{{ sharedMessage }}</p>
    </div>
</div>